<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="./css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--Referencing Google charts-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!--Referencing Google icons page for setting icon-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<!--Referencing Google icons page for menu icon-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" src="jquery-1.5.min.js"></script>
		
		<script type="text/javascript">			
			let emotionHappiness = '<%-emotionHappiness%>'
			let emotionAnger = '<%-emotionAnger%>'
			let emotionNeutral = '<%-emotionNeutral%>'
			let emotionDepression = '<%-emotionDepression%>'
			let emotionAnxiety = '<%-emotionAnxiety%>'

			function refresh() {
				window.location.reload();
			}
			//Creating the donut chart:
			google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(drawDonutChart);
			function drawDonutChart() {
				var data = google.visualization.arrayToDataTable([
					['Emotion', 'Score'],
					['Happiness', Number(emotionHappiness)],
					['Depression', Number(emotionDepression)],
					['Anger', Number(emotionAnger)],
					['Anxiety', Number(emotionAnxiety)],
					['Neutral',	Number(emotionNeutral)]
				]);

				var options = {
				title: 'Emotion Score Based on Tweets',
				pieHole: 0.4,
				backgroundColor: 'transparent',
				slices: {
					0: { color: 'gold' },
					1: { color: 'blue' },
					2: { color: 'red' },
					3: { color: 'purple' },
					4: { color: 'green' }
				}
				};

				var chart = new google.visualization.PieChart(document.getElementById('donut_chart'));
				chart.draw(data, options);
			}
			//Creating the line chart:
			google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(drawLineChart);
			function drawLineChart() {
				var data = google.visualization.arrayToDataTable([
				['Date', 'Happiness', 'Depression', 'Anger', 'Anxiety', 'Neutral'],
				['02-Oct-22', 20,			10,			 5,			5,		 25    ],
				['09-Oct-22',	30,			 5,			 5,			10,		 20    ],
				['16-Oct-22', 10,			30,			15,			15,		 10    ],
				['23-Oct-22',	15,			20,			10,			20,		 30    ],
				['30-Oct-22',	30,			10,			 5,			10,		 15    ]
				]);

				var options = {
				title: 'Emotion Score Based on Tweets',
				backgroundColor: 'transparent',
				legend: {position: 'bottom'},
				series: {
					0: { color: 'gold' },
					1: { color: 'blue' },
					2: { color: 'red' },
					3: { color: 'purple' },
					4: { color: 'green' }
				}
				};

				var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
				chart.draw(data, options);
			}
		</script>
	</head>
	<body>
			<div class="banner" id="banner">
				<div class="banner_content">
					<!--Twitter Profile Image-->
					<div class="banner_profile">
						<img class="profile_image" src="loginLogo.png" alt="Profile Picture" style="width:50px;height:50px;">
					</div>
					<!--Twitter Username-->
					<div class="banner_text">
						<p class="username">@<%= name %></p>
						<!--Settings icon-->
						<span class="material-symbols-outlined" style="margin-left:1250px;">menu</span>
						<!--Settings icon-->
						<span class="material-symbols-outlined">settings</span>
			
				</div>
				</div>
			</div>
			
			<!--Banner is complete, now for the main body of the page:-->
			<div class="charts">
				<table>	
					<tr>
						<td><div id="donut_chart" style="width: 700px; height: 500px;"></div></td>
						<td><div id="line_chart" style="width: 700px; height: 300px;"></div></td>
					</tr>
					<tr>
						<!--Centering this text below the charts-->
						<td><center>Sort by:</center></td>
						<td><center>Sort by:</center></td>
					</tr>
					<tr>
						<!--Buttons to change the dataset from monthly, yearly, etc.-->
						<td><center><select id="donut_select">
							<option value="monthly">Monthly</option>
							<option value="yearly">Yearly</option>
							<option value="lifetime">Lifetime</option>
						</select></center></td>
						<td><center><select id="line_select">
							<option value="monthly">Monthly</option>
							<option value="yearly">Yearly</option>
							<option value="lifetime">Lifetime</option>
						</select></center></td>
					</tr>
				</table>
			</div>
			<div class="abc">
				<a href="/logout">Logout</a>
			</div>
			<form class="user-card-form" id="getTwitterID" method="post" action="/update">
				<button type="submit" value="update" id="update">Update</button>
			</form>
			<form class="user-card-form" id="pullData" method="post" action="/pullData">
				<button type="submit" value="update" id="update" onClick="refresh()">pull data</button>
			</form>
		</div>
	</body>
</html>